<h3>Posts</h3>
<div class="d-flex gap-3">
    @foreach (var post in PostsList)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@post.Title</h5>
                <p class="card-text">
                    @post.Description
                </p>
            </div>
        </div>
    }
</div>

@code {

}
